<!-- Purchase -->
<div id="purchase" class="basic-3 bg-dark-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Get Revo And Start Designing</h2>
                <p class="p-heading p-large">The first desktop app for web designers and developers which helps them get their ideas from initial sketch to finalized code easier. Revo brings to the table cutting-edge technologies to help you get projects online faster.</p>
                <a class="btn-solid-lg" href="#your-link">$89 BUY</a> <a class="btn-outline-lg page-scroll" href="#registration">FREE TRIAL</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of basic-3 -->
  <!-- end of purchase -->
  
  
  <!-- Resources -->
  <div class="basic-4 bg-dark-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="resource-container">
                    <img class="img-fluid" src="assets/images/resources-1.jpg" alt="alternative">
                    <div class="text-container">
                        <h4>User Showcases</h4>
                        <p>Check out these awesome customer showcases to convince you to give Revo and try right away</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of resource-container -->
                <div class="resource-container">
                    <img class="img-fluid" src="assets/images/resources-2.jpg" alt="alternative">
                    <div class="text-container">
                        <h4>Knowledge Center</h4>
                        <p>We've gathered some great resources to help you learn how to use Revo and overcome issues</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of resource-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of basic-4 -->
  <!-- end of resources -->
