<!-- Registration -->
<div id="registration" class="form-1 bg-dark-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>Register For The Free Trial</h2>
                    <p>You are just a few clicks away from using the first desktop app dedicated to web designers and developers. Fill out the form to get the 30-day trial and you will receive the download link</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body"><strong>Prototype easier</strong> using intuitive features and design tools</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body"><strong>Design layouts</strong> with faster with efficient components</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body"><strong>Export to code</strong> and effortlessly upload your projects online</div>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
  
                <!-- Registration Form -->
                <form id="registrationForm">
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="rname" required>
                        <label class="label-control" for="rname">Name</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="roccupation" required>
                        <label class="label-control" for="roccupation">Occupation</label>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control-input" id="remail" required>
                        <label class="label-control" for="remail">Email</label>
                    </div>
                    <div class="form-group checkbox">
                        <input type="checkbox" id="rterms" value="Agreed-to-Terms" required>I agree with the website's <a href="privacy.html">Privacy Policy</a> and <a href="terms.html">Terms & Conditions</a>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control-submit-button">SIGN UP</button>
                    </div>
                </form>
                <!-- end of registration form -->
  
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of form-1 -->
  <!-- end of registration -->