body{
	margin: 0px;
	padding: 0px;
	font-family:helvetica;
}
#header{
	height: 30px;
	width:100%;
	background-color: #eae9ef;
}
#menu{
	height: 150px;
	width:100%;
	background-color: red;
}
#content{
	height: 0 auto;
	width:100%;
	min-height: 700px;
	overflow: hidden;
	background-color: yellow;
}
#footer{
	height: 250px;
	width:100%;
	background-color: blue;
}
#inside-header{
	height:30px;
	width: 970px;
	background-color:#e1e1e1;
	margin: 0 auto;
}
#inside-menu{
	height:150px;
	width: 970px;
	background-color:green;
	margin: 0 auto;
}
#inside-content{
	height:0 auto;
	width: 970px;
	background-color:black;
	margin: 0 auto;
	overflow: hidden;
	min-height: 700px;
}
#inside-footer{
	height:250px;
	width: 970px;
	background-color:red;
	margin: 0 auto;
}
#header ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#header ul li{
	/*margin-top: 1px;*/
	/*padding: 15px;*/
	/*list-style: none;*/
	float:left;
	/*display: inline-block;*/
}
#header ul li a{
	display: inline-block;
	margin: 2px;
	margin-left: 5px;
	padding: 6px 30px;
	text-decoration: none;
	color: #FFF;
	font-size: 14px;
	background-color:#eae9ef;
}