<!-- Header -->
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
  
                <!-- Text Slider -->
                <div class="slider-container">
                    <div class="swiper-container text-slider">
                        <div class="swiper-wrapper">
                            
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-lg-6 col-xl-7">
                                        <div class="image-container">
                                            <img class="img-fluid" src="assets/images/header-slide-1.jpg" alt="alternative">
                                        </div> <!-- end of image-container -->
                                    </div> <!-- end of col -->
                                    <div class="col-lg-6 col-xl-5">
                                        <div class="text-container">
                                            <h1 class="h1-large">Desktop App Landing Page</h1>
                                            <p class="p-large">The first desktop app for web designers. Create beautiful websites with minimum HTML/CSS</p>
                                            <a class="btn-solid-lg page-scroll" href="#registration">FREE TRIAL</a>
                                            <a class="btn-outline-lg page-scroll" href="#features">DISCOVER</a>
                                        </div> <!-- end of text-container -->
                                    </div> <!-- end of col -->
                                </div> <!-- end of row -->
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->
  
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-lg-6 col-xl-7">
                                        <div class="image-container">
                                            <img class="img-fluid" src="assets/images/header-slide-2.jpg" alt="alternative">
                                        </div> <!-- end of image-container -->
                                    </div> <!-- end of col -->
                                    <div class="col-lg-6 col-xl-5">
                                        <div class="text-container">
                                            <h1 class="h1-large">Web Design Desktop App</h1>
                                            <p class="p-large">Sketch your layout, mockup the prototye and create the actual design using Revo web design app</p>
                                            <a class="btn-solid-lg page-scroll" href="#registration">FREE TRIAL</a>
                                            <a class="btn-outline-lg page-scroll" href="#features">DISCOVER</a>
                                        </div> <!-- end of text-container -->
                                    </div> <!-- end of col -->
                                </div> <!-- end of row -->
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->
  
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-lg-6 col-xl-7">
                                        <div class="image-container">
                                            <img class="img-fluid" src="assets/images/header-slide-3.jpg" alt="alternative">
                                        </div> <!-- end of image-container -->
                                    </div> <!-- end of col -->
                                    <div class="col-lg-6 col-xl-5">
                                        <div class="text-container">
                                            <h1 class="h1-large">Prototype And Create Designs</h1>
                                            <p class="p-large">With Revo it's a breeze to turn your designs intro code. Use the visual builder and export as HTML</p>
                                            <a class="btn-solid-lg page-scroll" href="#registration">FREE TRIAL</a>
                                            <a class="btn-outline-lg page-scroll" href="#features">DISCOVER</a>
                                        </div> <!-- end of text-container -->
                                    </div> <!-- end of col -->
                                </div> <!-- end of row -->
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->
  
                        </div> <!-- end of swiper-wrapper -->
                        
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <!-- end of add arrows -->
  
                    </div> <!-- end of swiper-container -->
                </div> <!-- end of slider-container -->
                <!-- end of text slider -->
  
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="partner-container">
                    <p class="p-small">Featured in</p>
                    <img class="img-fluid" src="assets/images/partner-logo-1.png" alt="alternative">
                    <img class="img-fluid" src="assets/images/partner-logo-2.png" alt="alternative">
                    <img class="img-fluid" src="assets/images/partner-logo-3.png" alt="alternative">
                    <img class="img-fluid" src="assets/images/partner-logo-4.png" alt="alternative">
                    <img class="img-fluid" src="assets/images/partner-logo-5.png" alt="alternative">
                </div> <!-- end of partner-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
  </header> <!-- end of header -->
  <!-- end of header -->
