<div class="container" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3>User Profile Page</h3>
            <table *ngIf="user" class="table table-dark">
                <tr>
                    <td>Full Name</td>
                    <td>{{ user.fullname }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>{{ user.city }}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{ user.address }}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{ user.gender }}</td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td>{{ user.contact }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
