body{
	 margin:0;
	 padding:0; 
	  background-color:#1c3d50;
}
#header{
	   background-color:#1c3d50;
	   height:200px;
	   width:100%; 
	    
} 
h1{
	color:#fff; 
	margin:15px;
}
#right-header{
	    float:right;
	    height:80px;
	    width:250px; 
	    margin:66px 0px 0px ; 
	   /*background-color:#000; */
}
ul{
	color:white; 
	

}
#menu{
	  background-color:#1c3d50;
	  height:50px;
	  width:100%;  
}

#inside-menu{
	    height:50px;
	    width:910px;
	    background-color:#216282; 
	    margin:0 auto; 
	    border-radius:5px 5px 0px 0px;
}	     
#content{
	   background-color:#fff; 
	   min-height:500px;
	   height:auto;
	   width:100%; 
}