body{
	/*background-color: #123456;*/
	margin:0px;
	padding: 0px;
	font-family: helvetika;
}
#header{
	height: 80px;
	width: 100%;
	/*background-color: red;*/
}
#menu{
	height: 50px;
	width: 100%;
	/*background-color: yellow;*/
}
#content{
	height: 500px;
	width: 100%;
	/*background-color: blue;*/
}
#footer{
	height: 100px;
	width: 100%;
	background-color: white;
}
#sub-header{
	height: 80px;
	width: 910px;
	background-color: #aabb55;
	margin: 0 auto;
}
#sub-menu{
	height: 50px;
	width: 910px;
	background-color: #abfeab;
	margin:0 auto;
	/*border-bottom: 1px solid #000;*/
}
#sub-content h3{
	border-bottom: 1px solid #000;
	margin: 0;
	padding: 0;
}

#sub-content{
	min-height:500px;
	height: auto;
	width: 910px;
	background-color: #aabb11;
	margin: 0 auto;
	/*border-bottom: 1px solid red;*/
}
#sub-footer{
	height: 100px;
	width: 910px;
	margin: 0 auto;
	background-color: #123abc;
}
#sub-menu ul{
	list-style: none;
	margin: 0px;
	padding: 0;
	color:#000;

}
#sub-menu ul li{
	text-decoration: none;
	float:right;
	margin: 20px;
	padding: 0;
	color:#000;
			
}
#sub-menu ul li a{
	text-decoration: none;
	color:#000;

}

#sub-menu ul li a:hover{
	
	border-bottom:  1px solid #000;
}
.active{
	background-color: #fff;
}