body{
	 margin:0px;
	 padding:0px;
	 background-color:#1a3b4c;
	 font-family:Helvetica;    
}
#header{
	   height:150px;
	   width:100%;
	  /*background-color:green;  */
}
#header h1{
	   color:#fff;
	   margin:10px;
	   font-size:50px;  
}
#right-header ul li{
	   list-style:none;
	   float:right;  
	  ;
	   margin:5px; 
}
#right-header ul li a{
	   color:#fff; 
	   text-decoration:none; 
}
#right-header ul li a:hover{
	     color:black;
	     border-color:grey;  

}
#menu{
	   height:50px;
	   width:100%;
	   /*background-color:red;  */
}
#inside-menu{
	   height:50px;
	   width:870px;
	   background-color:#216282;
	   margin:0 auto;   
	   border-radius:5px 5px 0px 0px;  
}
#inside-menu ul li{
		list-style:none;
	float:left;  
	margin:5px;
	color:#fff;  
	padding:5px; 
}
#inside-menu ul li a{
	color:#fff;
	text-decoration:none;	 
}
#inside-menu ul li a:hover{
	   color:#fff; 
	   background-color:#000; 
}
#content{
	height:500px;
	width:100%;  
}
#login{
	height:450px;
	width:550px;
	margin:20px;
	background-color:#c1988f;
	padding-top:30px;
	margin:0 auto;  
     margin-top:20px;
     border-radius:10px;
     box-shadow:10px 10px 10px #000;
}
.active{
	background-color: #000 ! important;
}