body{
	 background-color:#afafaf;
	 margin:0;
	 padding:0; 
	font-family:helvetica; 
}
#header{
	   background-color:black;
	   height:80px;
	   width:100%;    
}
#menu{
	   background-color:red;
	   height:50px;
	   width:100%;    
}
#content{
	   background-color:#94a1a3;
	   height:600px;
	   width:100%;    
}
#footer{
	   background-color:#afafaf;
	   height:200px;
	   width:100%;    
}
#inside-header{
	   background-color:;
	   height:80px;
	   width:910px;
	   margin:0 auto;    
}
#inside-menu{
	   background-color:;
	   height:50px;
	   width:910px;
	   margin:0 auto;    
}
#inside-content{
	   background-color:;
	   height:600px;
	   width:910px;  
	   margin:0 auto;  
}
#inside-footer{
	   background-color:;
	   height:200px;
	   width:910px;    
	   margin:0 auto;
}
#logo {
	 height:70px;
	 width:300px;
	 float:left;
	
}
h2{
	color:white;
}
#right{
	  height:70px;
	  width:610px;
	  float:right; 

}
 li{
	float:right;
	margin:5px 10px; 

}
a{
	text-decoration:none;
	color:#fff; 
}
span{
	color:red; 
}
h4{
	  color: #fff;
	  margin: 10px 5px;
}
#right-menu{
	   float:right;

}
#left-menu{
	  float:left; 
}
#content-left{
       float:left; 
       height:600px;
       width:300px; 
       background-color:#12345e; 
}
#content-right{
       float:right;
       height:600px;
       width:600px;
       background-color:#eaa45e;   
}
#content-right-top{
	  background-color:green;
	  height:200px;
	  width:600px;   
}
#content-right-bottom{
	    background-color:yellow;
	    height:400px; 
	    width:600px;
}