<html>
    <head>
        <style>
            body{
                background-color: #AC1052;
            }
        </style>
    </head>
    <body>
        <h1>Contact Page</h1>

        <ul>
            <% list.forEach((x)=>{ %>

                <li><%= x %></li>

            <% }) %>
        </ul>
    </body>
</html>