<app-discount></app-discount>
<div class="container mt-4" style="min-height: 600px;">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Contact Page</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, incidunt! Animi, earum, possimus quod perspiciatis, amet unde nisi reprehenderit quae nesciunt neque recusandae exercitationem corrupti ad. Exercitationem voluptas veritatis ullam?</p>
            <h1>{{ name | uppercase }}</h1>
            <h1>{{ fee| currency : '&#8377;' }}</h1>
            <pre>{{ data | json }}</pre>
            <h2>{{ old_d | date : 'longDate' }}</h2>
            <h2>{{ mynum | percent : '2.0-0' }}</h2>
        </div>
    </div>
</div>
<app-blog></app-blog>