body{
	margin: 0;
	padding: 0;
	background-color: #697458;
}
#header{
	height: 100px;
	width: 100%;
	background-color: yellow;
}
#inside-header{
	height: 100px;
	width: 970px;
	margin: 0 auto;
	/*background-color: brown;*/
}

#logo{
	height:78px;
	width: 180px;
	background-color: #FFF;
	float: left;
	margin:10px 20px;
}
#left-header{
	width: 100px;
	height: 80px;
	float: right;
	background-color: #FFF;
	margin: 10px 10px;
}
#right-header{
	width: 100px;
	height: 80px;
	float: right;
	background-color:  #FFF;
	margin: 10px 10px;
}
#menu{
	height: 70px;
	width: 100%;
	background-color: pink;
}
#inside-menu{
	height: 100px;
	width: 970px;
	margin: 0 auto;
	/*background-color:brown; */
}
#right-menu{
	width: 462px;
	height: 55px;
	float: right;
	background-color:  #FFF;
	margin: 6px 10px;
}
#left-menu{
	width: 462px;
	height: 55px;
	float: left;
	background-color: #FFF;
	margin: 6px 10px;
}
#content{
	height: 600px;
	width: 100%;
	background-color: black;
}
#inside-content{
	height:600px;
	width: 970px;
	margin: 0 auto;
	/*background-color:brown;*/
}
#sub-content{
	width: 462px;
	height:80px;
	float: left;
	background-color: #FFF;
	margin: 0px 10px;
}
#right-content{
	width: 240px;
	height: 390px;
	float: left;
	background-color:  #FFF;
	margin: 10px 10px;
}
#left-content{
	width: 208px;
	height: 390px;
	float: right;
	background-color: #FFF;
	margin: 10px 10px;
}
#center-content{
	width: 462px;
	height: 390px;
	float: left;
	background-color:white;
	margin: 10px 10px;
}
#bottom-content{
	width: 949px;
	height:170px;
	float: left;
	background-color:white;
	margin: 10px 10px;
}

#footer{
	height:150px;
	width: 100%;
	background-color: blue;
}
#inside-footer{
	margin: 0 auto;
	height: 150px;
	width: 970px;
	/*background-color: brown;*/
}

.footer-box{
	width: 303px;
	height: 120px;
	background-color: pink;
	float: left;
	margin: 10px 10px;
}