<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3 class="text-center">List of Category</h3>
            <table class="table table-hover table-dark table-bordered">
                <tr>
                    <th>S.No.</th>
                    <th>Category Name</th>
                    <th>Delete</th>
                </tr>
                <tr *ngFor="let c of allCategory; let n = index">
                    <td>{{ n+1 }}</td>
                    <td>{{ c.name }}</td>
                    <td><button (click)="askDelete(c)" data-toggle="modal" data-target="#delModal" class="btn btn-sm btn-danger">Delete</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>


<!-- <h1 #x>hello TSS</h1>
<button (click)="demo(x)">Click</button> -->

<div class="modal fade" id="delModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete Categroy</h3>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete <b *ngIf="category">{{ category.name }}</b> !</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger"  (click)="confDelete(closeBtn)">Delete</button>
                <button class="btn btn-dark" #closeBtn data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>