body{
	margin:0;
	padding:0;
	font-family: helvetica;
	font-size: 15px;
}
#header{
	height:150px;
	width:100%;
	background-color: #fff;
}
#menu{
	height: 50px;
	width:100%;
	/*background-color:#677172;*/
}
#content{
	height: 100%;
	width: 100%;
    background-color: #fff;
}
#footer{
	height:100px;
    background-color: #fff;
	width:100%;
}
#inside-header{
	height:150px;
	width: 910px;
	margin: 0 auto;
   background-color:#FFFFFF;
}
#inside-menu{
   height:50px;
   width: 910px;
   background-color: #687274;
   margin:0 auto;
}
#in-menu1{
	height: 50px;
	width: 300px;
	background-color: #687274;
	float:left;
}

#in-menu1 input{
	
	margin-top: 9px;
}

#in-menu2{
	height: 40px;
	width: 600px;
	background-color: #687274;
	float: right;
	/*padding-top: 10px;*/
	}
#inside-content{
	min-height:700px;
	height:auto;
	width:910px;
	background-color: #fff;
	margin:0 auto;
	overflow: hidden;
	}
	#sub-content1{
		height:700;
		width:300;
		background-color: #fff;
		display: inline-block;
		padding-top: 2px;
		margin:0 auto;
	}

		#sub-con1{
			height: 500px;
			width: 280px;
			background-color: #fff;
			border-radius: 10px;
			margin: 0 auto;
		}
			#top-sub-con11 h4{
				margin: 0px;
				padding: 2px;
				text-align: center;
				background-color: #9CD25E;
			}
			#top-sub-con12 ul {
				margin:0;
				padding-left:3px;
				font-size:16px;
				list-style: none;
				color:#000;
			}
			#top-sub-con12 ul li a:hover{
				background-color: #9CD25E;
				border-bottom: #000;

			}
			#top-sub-con12 ul li a{
				text-decoration: none;
				display: inline-block;
				color:#000;
			}

		#sub-con2{
			height: 200px;
			width: 300px;
			background-color: #fff;
			border-radius: 10px;
		}

		#left2sub-con2 h4{
			text-align: center;
			margin: 0;
			padding-top: 10px;
			font-size: 18px;

		}
		#left1sub-con2{
			height: 150px;
			width: 300px;
			background-color: #fff;
			border-radius: 10px;
		}

		#left2sub-con2{
			height: 50px;
			width: 300px;
			background-color: #fff;
			overflow: hidden;
			border-radius: 10px; 
		}
	#sub-content2{
		height: 700;
		width:610;
		background-color:#fff;
		float: right;
		padding-top: 2px;
		margin: 0 auto;
	}

	#Registration-box{
		height: 415px;
		width: 610px;
		float:right;
		margin:0 auto;
		overflow: hidden;
		background-color: #fff;

	}


		#top-con22{
			height:30px;
			width:610px;
			background-color: #9CD25E;
			border-radius:10px;
			border-radius-top-right:10px;
		}
		/*.buy{
			background-color:#A6D563;
			border-radius: 10px;
		}
		.sell{
			padding-right:30px;
			background-color: #c0c2c1;
			border-radius: 10px;
		}*/
		.img{
			height:100px;
			width:100px;
			border-radius: 10px; 
		}
		.old_price{
	float: left;
	text-decoration: line-through;
	padding-right: 30px;

		}
	.new_price{
	float: right;
	font-weight: bold;
	padding-right: 30px;
		}

		#in-sub-con1{
			height: 200px;
			width: 610px;
			background-color: #C0C0C0;
			border-radius: 10px;
			margin-left: 2px;
			margin: 0 auto;
		}
		#right-content{
			min-height: 500px;
			height: 0 auto;
			width: 610px;
			background-color: #fff;
			border-radius: 10px;
			overflow: hidden;
			margin: 0 auto;
		}
			.right-content-subblock{
					height: 150px;
					width: 250px;
					/*background-color:red;*/
					margin:10px;
					overflow: hidden;
					float: left;
					border-radius: 10px;
				}
				.right-block1{
					height: 145px;
					width: 120px;
					/*background-color:  black;*/
					float: left;
					border-radius: 10px;
					overflow: hidden;
				}
				.right-block2{
					height: 145px;
					width: 120px;
					/*background-color:  green;*/
					float: right;
					border-radius: 10px;
					overflow: hidden;
				}
				
				.right-block2 p{
					padding: 0;
					margin: 0;
				}
				
#left-header{
	height: 150px;
	width:300px;
	background-color: #FFFEFF;
	float:left;
	margin:0 auto;
}
#right-header{
	height: 150px;
	width: 550px;
	background-color:#FFFFFF;
	float:right;
	border-radius: 10px;
	margin:0 auto;
}
#right1-header{
	height: 150px;
	width: 181px;
	background-color:#FFF;
	float:left;
	border-radius: 10px;
	border:1px solid #EBE9EA;
}
#left-header h1
{
	text-align: center;
margin-top: 30px;
padding:0;
margin-bottom: 0;

}
#left-header p
{
	
padding:0;
margin: 0;
font-size: 14px;
text-align: center;

}

#head{
	height: 65px;
	width:180px;
	margin: 0px;
		padding: 0px;

	/*background-color:blue;*/
	/*border-bottom: 1px solid #EBE9EA;*/
}

	#head-top{
		height: 30px;
		width: 170px;
		/*background-color: red;*/
		margin: 0px;
		padding: 0px;


	}
	#head-bom{
		height: 35px;
		width: 150px;
		/*background-color: yellow;*/
		margin: 0px;
		padding: 0px;


	}



#head1{
	height: 65px;
	width:180px;
	background-color: #FFFFFF;
}
#head1 select
{

	width:100px;
	
	background-color: #FFFFFF;

}

#right2-header{
	height: 150px;
	width: 181px;
	/*background-color:#FFFFFF;*/
	float:left;
	border-radius: 10px;
	border:1px solid #EBE9EA;
	/*background-color: red;*/
	/*margin:0 auto;*/

}
#right2-header ul select{
	text-decoration: none;
	margin:0px;
	padding:0px;
	


}

#right2-header ul li a{
	
	display:block;
	
	padding-left:10px;
	color: #000;

}
#right3-header{
	height: 150px;
	width: 181px;
	background-color:#FFFFFF;
	float:right;
	border-radius: 10px;
	border:1px solid #EBE9EA;
	/*margin:0 auto;*/
}



#in-menu2 ul{
	margin:0px;
	padding:0px;
	list-style: none;

}
#in-menu2 ul li{
	float:left;
	padding-left: 25px;
	margin-top: 10px;
}
#in-menu2 ul li a{
	text-decoration: none;
	color:#fff;
	display: inline-block;
	font-size: 16px;
	margin: 10px;
	background-color: #687274;
}
.active{
	border-bottom: 1px solid #FFF !important;
    /*background-color: #dbbdbd;*/
}
#in-menu2 ul li a:hover{
    border-bottom: 1px solid #FFF;
    /*padding-left: 10px;*/
    /*background-color: #dbbdbd;*/

}
.error{

	color:red;
	text-align: center;
}
.input{
	 margin: 0px;
	 padding:0px;
	 background-color: #EBE9EA 
	color: #ababab;
	/*text-align: center;*/
	font-size: 12px;
}
#inside-footer{
	height: 100px;
	width: 910px;
	background-color: #fff;
    /*margin:0 auto;*/
}
	#in-footer{
		height: 10px;
		width: 910px;
		background-color: #687274;
		border-radius: 10px;
	}
	#img-footer{
		height: 90px;
		width: 200px;
		margin: 0px;
		padding-top: 2px;
		background-color: #fff;
		display: inline-block;
	}
	#img1-foo{
		height: 80px;
		width: 100px;
		background-color: #fff;
		float:right;

	}
	#img2-foo{
		height: 80px;
		width: 100px;
		background-color: #fff;
		float:right;
	}
	#img-footer1{
		height: 90px;
		width: 400px;
		margin: 0px;
		padding-top: 2px;
		background-color: #fff;
		display: inline-block;
		float:right;
	}





