body
{
	background-color: #112233;
	margin: 0px;
	padding: 0px;
	font-family: helvetika;
}
#header{
	height: 60px;
	width: 100%;
	/*background-color: #ffaacc;*/
}
#in-header{
	height: 60px;
	width: 910px;
	background-color: #12ffaa;
	margin: 0 auto;
}
#menu{
	height: 50px;
	width: 100%;
	/*background-color: #12aabb;*/
}
#in-menu{
	height: 50px;
	width: 910px;
	background-color: #ffbbdd;
	margin: 0 auto;
}
#in-menu ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#in-menu ul li{
	float: left;
}
#in-menu ul li a{
	text-decoration: none;
	display: inline-block;
	padding:  15px 70px;
	margin: 0 5px;

}
#in-menu ul li a:hover{
	border-bottom: 1px solid #fff;
	/*background-color: #fff;*/
	color:#45bfaa;
	background-color:#56ffcc;
	
}
#content{
	height: 500px;
	width: 100%;
	/*background-color: #13aacc;*/
}
#in-content{
	min-height: 500px;
	height: 0 auto;
	background-color: #4abfff;
	width: 910px;
	margin: 0 auto;
}
#in-content table{
	border: 1px;
	width: 200px;
	height: 500px;
}
#footer{
	height: 50px;
	width: 100%;
	/*background-color: #ff2369;*/
}
#in-footer{
	width: 910px;
	height: 50px;
	background-color: #568745;
	margin: 0 auto;
}