body{
	 margin:0px;
	 padding:0px;
	 background-color:#1a3b4c;
	 font-family:Helvetica;    
}
#header{
	   height:150px;
	   width:100%;
	  /*background-color:green;  */
}
#header h1{
	   color:#fff;
	   margin:10px;
	   font-size:50px;  
}
#right-header ul li{
	   list-style:none;
	   float:right;  
	  ;
	   margin:5px; 
}
#right-header ul li a{
	   color:#fff; 
	   text-decoration:none; 
}
#right-header ul li a:hover{
	     color:black;
	     border-color:grey;  

}
#menu{
	   height:50px;
	   width:100%;
	   /*background-color:red;  */
}
#inside-menu{
	   height:50px;
	   width:870px;
	   background-color:#216282;
	   margin:0 auto;   
	   border-radius:5px 5px 0px 0px;  
}
#inside-menu ul li{
		list-style:none;
	float:left;  
	margin:5px;
	color:#fff;  
	padding:5px; 
}
#inside-menu ul li a{
	color:#fff;
	text-decoration:none;	 
}
#inside-menu ul li a:hover{
	   color:#000; 
}
#content{
	   height:750px;
	   width:100%;
	   background-color:#fff; 
}
#inside-content{
	  height:700px;
	  width:910px;
	  
	  margin:0 auto;   
}
#left-content{
	   height:650px;
	   width:200px; 
	   /*background-color:red; */
	   float:left;  
	   margin-top:10px; 
}
#left-content-top{
	   height:250px;
	   width:200px;
	   background-color:#F7F5E5;   
}
h3{
	margin:10px;
	background-color:#1a3b4c;
	color:#fff;  
}
#left-content-top ul{
          margin:0px;
          padding:0px;  
}
#left-content-top ul li{
	   padding:4px; 
	  list-style:none;  
}
#left-content-top ul li a{
	   text-decoration:none;  
	   color:#000;

}
#left-content-top ul li a:hover{
	        border:2px; 
	        color:#fff;
	        display:block;
	       background-color:#000; 
	  
}
#left-content-bottom{
	       height:450px;
	       width:200px;
	       background-color:red;
	       margin-top:20px;  
	       /*border-radius:2px;  */
}
#left-content-bottom-up{
	   height:20px;
	   width:200px;
	  background-color:#216282;   
}
#left-content-bottom-up h3{
	     background-color:#216282; 
	     margin:0px; 

}

#right-content{
	   height:650px;
	   width:700px; 
	   /*background-color:green;*/
	   float:right;
	   margin-top:10px;    
}
#right-content-top{
	   height:200px;
	   width:700px;
	   /*background-color:red;*/
	   float:right;   
}
#right-content-bottom{
	   height:480px;
	   width:700px;
	   /*background-color:green;*/
	   float:right;  
	   margin-top:10px;   
}
.product-box{
	     height:200px;
	     width:210px;
	     /*background-color:#D4D2C3;*/
	     float:left; 
	     margin:10px;   
}
.product-box hover{
	     box-shadow:3px;
	     }
}
.image{
	  height:150px;
	  width:190px;
	  background-color: #fff; 
	  margin:0 auto;  
}
.image a{
       /*border-radius:2px; */
}
.name{
	  height:30px;
	  width:210px;
	  background-color:grey;
	  color:black;    
}
.detail p{
	  /*margin:2px; */
}
.price{
	  height:20px;
	  width:210px;
	  background-color:#fff;
	  color:black; 

}
.old-price{
	   float:left; 
	   margin-top:0px; 
	   text-decoration-line:line-through; 
}
.new-price{
	  float:right; 
	  margin-top:0px; 
	  font-weight:bold; 
}
#login-inside-content{
	    background-color:#fff; 
	    height:750px;
	    width:100%;
	   
}
#signup-content{

       height:750px;
	   width:100%;
	   /*background-color:#fff; */
}
#inside-signup-content{
	   height:750px;
	   width:800px;
	   background-color:#fff;  
	   /*float:left; */
	   margin:0 auto; 
}
#footer{
	   height:200px;
	   width:100%;
	   /*background-color:red;  */
}
#in-footer{
	height:200px;
	width:910px;
	margin:0 auto;
	/*background-color:yellow;*/


}
#bottom-footer
{
	height:100px;
	width:500px;
	margin:0 auto;
	/*background-color:green;   */
}



