<app-free-trail></app-free-trail>

<!-- Features -->
<div id="features" class="cards-1 bg-dark-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Revo's Features</h2>
                <p class="p-heading">Revo is the first desktop app which helps web designers and developers create beautiful and efficient layouts for their online projects</p>
            </div> <!-- end of div -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                
                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <i class="fas fa-rocket"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Prototype Faster</h5>
                        <p>Cutting edge tools that will help you sketch your ideas in record time and prepare the design</p>
                    </div>
                </div>
                <!-- end of card -->
  
                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <i class="fas fa-tv"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Design Layouts</h5>
                        <p>Turn your prototypes into final designs using established and well-known features</p>
                    </div>
                </div>
                <!-- end of card -->
  
                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <i class="fas fa-user-tag"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Export To Code</h5>
                        <p>When you're done designing export your layouts quickly to editable HTML/CSS code</p>
                    </div>
                </div>
                <!-- end of card -->
  
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of cards-1 -->
  <!-- end of features -->
  
  
  <!-- Details 1 -->
  <div id="details" class="basic-1 bg-dark-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/details-1.jpg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                    <h2>Prototype With Revo</h2>
                    <p>Our experienced designers and developers have implemented cutting edge tools that will help you sketch your ideas in record time and prepare the design</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><strong>Use a single app</strong> to get from sketch to actual code</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><strong>Bundled templates</strong> to help you get inspired faster</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox">LIGHTBOX</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of basic-1 -->
  <!-- end of details 1 -->
  
  
  <!-- Details Lightbox -->
  <!-- Lightbox -->
  <div id="details-lightbox" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
  <div class="col-lg-8">
            <div class="image-container">
                <img class="img-fluid" src="assets/images/details-lightbox.jpg" alt="alternative">
            </div> <!-- end of image-container -->
  </div> <!-- end of col -->
  <div class="col-lg-4">
            <h3>Goals Setting</h3>
    <hr>
            <p>The app can easily help you track your personal development evolution if you take the time to set it up.</p>
            <h4>User Feedback</h4>
            <p>This is a great app which can help you save time and make your live easier. And it will help improve your productivity.</p>
            <ul class="list-unstyled li-space-lg">
                <li class="media">
                    <i class="fas fa-square"></i><div class="media-body">Splash screen panel</div>
                </li>
                <li class="media">
                    <i class="fas fa-square"></i><div class="media-body">Statistics graph report</div>
                </li>
                <li class="media">
                    <i class="fas fa-square"></i><div class="media-body">Events calendar layout</div>
                </li>
                <li class="media">
                    <i class="fas fa-square"></i><div class="media-body">Location details screen</div>
                </li>
                <li class="media">
                    <i class="fas fa-square"></i><div class="media-body">Onboarding steps interface</div>
                </li>
            </ul>
            <a class="btn-solid-reg mfp-close page-scroll" href="#registration">FREE TRIAL</a> <button class="btn-outline-reg mfp-close as-button" type="button">BACK</button>
  </div> <!-- end of col -->
  </div> <!-- end of row -->
  </div> <!-- end of lightbox-basic -->
  <!-- end of lightbox -->
  <!-- end of details lightbox -->
  
  
  <!-- Details 2 -->
  <div class="tabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <div class="tabs-container">
        
                    <!-- Tabs Links -->
                    <ul class="nav nav-tabs" id="revoTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">PROTOTYPE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">DESIGN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">EXPORT</a>
                        </li>
                    </ul>
                    <!-- end of tabs links -->
                    
                    <!-- Tabs Content -->
                    <div class="tab-content" id="revoTabsContent">
    
                        <!-- Tab -->
                        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                            <h4>Prototype Easier With Revo</h4>
                            <p>It's now easier than ever to get your ideas into completed designs with Revo desktop app. Our <a class="turquoise page-scroll" href="#features">features</a> section shows how we are able to achieve all this.</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body"><strong>Experienced teams</strong> of top designers and developers</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body"><strong>Enthusiastic passion</strong> for all things web design related</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body"><strong>Focus on simplicity</strong> when it comes to the user interface</div>
                                </li>
                            </ul>
                        </div> <!-- end of tab-pane --> 
                        <!-- end of tab -->
    
                        <!-- Tab -->
                        <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <div class="media-bullet">1.</div>
                                    <div class="media-body"><strong>Speed</strong> is important for our users so we invest a lot of time and resources to make everything work faster</div>
                                </li>
                                <li class="media">
                                    <div class="media-bullet">2.</div>
                                    <div class="media-body"><strong>Reliability</strong> is what we're focused on achieving besides speed because we want our app to work all the time</div>
                                </li>
                                <li class="media">
                                    <div class="media-bullet">3.</div>
                                    <div class="media-body"><strong>Standards</strong> are another factor that we take into consideration when developing our tools</div>
                                </li>
                                <li class="media">
                                    <div class="media-bullet">4.</div>
                                    <div class="media-body"><strong>Performance</strong> is a key factor for our desktop apps</div>
                                </li>
                            </ul>
                        </div> <!-- end of tab-pane -->
                        <!-- end of tab -->
    
                        <!-- Tab -->
                        <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                            <p><strong>Our goal is to empower</strong> web designers and developers reach their full potential and help them get their designs from layouts to code in the shortest amount of time.</p>
                            <p><strong>Design and layouts</strong> are the main focus of our apps but we also work on export-to-code functionalities.</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">It's a fun and captivating endeavour that we love</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">We're passionate about our work and it shows</div>
                                </li>
                            </ul>
                        </div> <!-- end of tab-pane -->
                        <!-- end of tab -->
    
                    </div> <!-- end of tab-content -->
                    <!-- end of tabs content -->
    
                </div> <!-- end of tabs-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/details-2.jpg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of tabs -->
  <!-- end of details 2 -->
  <app-video-present></app-video-present>