<div class="container mt-4" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">About Page</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat aperiam sint voluptates, autem atque ipsam, unde eius alias ut et quaerat laborum reiciendis maxime modi assumenda ipsum dolores, minima quibusdam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ut reiciendis officia nobis, quasi odio explicabo libero laboriosam facilis, laborum asperiores nemo atque quod, nulla commodi ab autem laudantium corrupti!</p>
            <table class="mt-4 table table-dark">
                <tr>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Disocunt</th>
                    <th>Category</th>
                </tr>
                <tr *ngFor="let d of allData; let n = index">
                    <td>{{ n+1 }}</td>
                    <td>{{ d.title }}</td>
                    <td>{{ d.price }}</td>
                    <td>{{ d.rating.rate | discount : d.price : d.category | currency }}</td>
                    <td>{{ d.category }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<app-feature-product></app-feature-product>
